<!DOCTYPE html>
<html>
  <head>
    <title>MyHtml.html</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

  </head>
  
  <body>
   
<!-- #####left标签的内容 -->
	<div class="accordion" id="menu-a31e6110e57d434685cdb45d5f987002">
		<div class="accordion-group">
		    <div class="accordion-heading">
		    	<a class="accordion-toggle" data-toggle="collapse" data-parent="#menu-a31e6110e57d434685cdb45d5f987002" data-href="#collapse-38359df71e57412f9d09df34aaa0130a" href="#collapse-38359df71e57412f9d09df34aaa0130a" title=""><i class="icon-chevron-down"></i>&nbsp;用户管理</a>
		    </div>
		    <div id="collapse-38359df71e57412f9d09df34aaa0130a" class="accordion-body collapse in">
				<div class="accordion-inner">
					<ul class="nav nav-list">
						<li><a data-href=".menu3-48b19bddb0854519ad88ce709300f234" href="/ayy/a/app/appUser" target="mainFrame" ><i class="icon-circle-arrow-right"></i>&nbsp;APP用户管理</a>
							<ul class="nav nav-list hide" style="margin:0;padding-right:0;">
							</ul></li>
						<li><a data-href=".menu3-aeb1a2b10cab411582f5927c494a27df" href="/ayy/a/app/appUserMessage" target="mainFrame" ><i class="icon-circle-arrow-right"></i>&nbsp;用户信息管理</a>
							<ul class="nav nav-list hide" style="margin:0;padding-right:0;">
							</ul></li></ul>
				</div>
		    </div>
		</div>
	</div>
	<!-- ####left -->
  </body>
</html>
